body {
    margin: 0;
    margin-top: 70px;
    padding: 0;
    background-color: rgb(77, 77, 77);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: body-anim 1s ease-in-out;
}
@keyframes body-anim {
    from {
        background-color: rgb(0, 0, 0);
    }
    to {
        background-color: rgb(77, 77, 77);
    }
}
.bar-principal {
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 10px 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    animation: bar-principal-anim 3s ease-in-out;
    z-index: 1;
}
@keyframes bar-principal-anim {
    0% {
        left: -100vw;
    }
    100% {
        left: 0;
    }
}
.items-bar {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
.item-bar {
    margin: 5px;
    text-decoration: none;
    color: black;
    display: inline-block;
}
.item-bar:hover {
    color: rgb(0, 102, 102);
}
.div-presentation {
    animation: div-presentation-anim 0.5s ease-in-out;
}
@keyframes div-presentation-anim {
    from {
        opacity: 0;    
    }
    to {
        opacity: 1;
    }
}
.presentation {
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    height: max-content;
    width: fit-content;
    text-align: start;
}
.name {
    color: rgb(33, 192, 255);
    font-size: 50px;
}
.full-stack {
    color: rgb(33, 192, 255);
    font-size: 30px;
}
.social-media {
    width: 100%;
}
.linkedin {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 5px;
    transition: 0.7s;
}
.github {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 5px;
    transition: 0.7s;
}
.email {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 5px;
    transition: 0.7s;
}
.whatsapp {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 5px;
    transition: 0.7s;
}
.linkedin:hover {
    color: rgb(0, 174, 255);
    margin: 15px;
    transition: 0.7s;
}
.github:hover {
    color: rgb(62, 28, 255);
    margin: 15px;
    transition: 0.7s;
}
.email:hover {
    color: rgb(255, 25, 25);
    margin: 15px;
    transition: 0.7s;
}
.whatsapp:hover {
    color: rgb(29, 253, 29);
    margin: 15px;
    transition: 0.7s;
}
.img-presentation-content {
    width: 50vw;
    height: min-content;
    font-size: 150px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 70px;
    padding-top: 30px;
    text-align: center;
    display: none;
}
.img-presentation {
    animation: img-presentation-anim 4s normal infinite;
}
@keyframes img-presentation-anim {
    0% {
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0, 5px);
    }
}
.div-about-me {
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-me {
    background-color: rgb(107, 107, 107);
    padding: 15px;
    color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 4px 10px 10px black;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation: about-me-anim 1s ease-in-out;
}
@keyframes about-me-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.about-me-title {
    text-decoration: underline;
}
.about-me-content {
    display: block;
    align-items: center;
}
.about-me-text {
    background-color: rgb(94, 94, 94);
    padding: 10px;
    width: 200px;
    font-size: 14px;
    margin: 30px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid black;
    display: block;
}
.about-me-img-content {
    margin: 30px;
    display: block;
}
.about-me-img {
    border: 2px solid black;
    border-radius: 5px;
    width: 155px;
}
hr {
    border: 1px solid black;
}
h3 {
    margin: 0;
}
@media (min-width: 850px) {
    .about-me-text {
        width: 450px;
        font-size: 22px;
    }
    .about-me-img {
        width: 225px;
    }
}
@media (min-width: 584px) {
    .img-presentation-content {
        display: block;
    }
    .presentation {
        width: 100vw;
    }
}
@media (min-width: 531px) {
    .about-me-text {
        display: inline-block;
    }
    .about-me-img-content {
        display: inline-block;   
    }
    .presentation {
        width: 50vw;
    }
}
@media (min-width: 470px) {
    .items-bar {
        width: max-content;
    }
}
.skills {
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    animation: skills-anim 1s ease-in-out;
}
@keyframes skills-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.box-skill-html {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-html:hover {
    background-color: black;
    color: brown;
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-css {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-css:hover {
    background-color: black;
    color: rgb(34,78,230);
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-js {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-js:hover {
    background-color: black;
    color: yellow;
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-njs {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-njs:hover {
    background-color: black;
    color: rgb(119,197,13);
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-php {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-php:hover {
    background-color: black;
    color: rgb(94,121,188);
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-py {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-py:hover {
    background-color: black;
    color: #3573a6;
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-lp {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-lp:hover {
    background-color: black;
    color: red;
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-wp {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-wp:hover {
    background-color: black;
    color: rgb(31,115,152);
    margin-left: 20px;
    margin-right: 20px;
}
.box-skill-db {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 1s;
    display: inline-block;
}
.box-skill-db:hover {
    background-color: black;
    color: rgb(183,165,137);
    margin-left: 20px;
    margin-right: 20px;
}
.projects {
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    text-align: center;
    animation: projects-anim 1s ease-in-out;
}
@keyframes projects-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.project {
    background-color: rgb(90, 90, 90);
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 5px 7px 10px black;
    color: white;
    padding: 15px;
    width: 300px;
}
.project-img {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 300px;
}
.project-enter {
    text-decoration: none;
    color: #a9aed6;
    font-size: 20px;
}
.projects-end {
    max-width: max-content;
    padding: 20px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}